#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(198, 193, 190);
    border: black solid  7px;
}